{
  "plugins": [
    ["@babel/plugin-transform-react-jsx"],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".tsx"],
        "alias": {
          "@": "./src/*",
          "@styles": "./styles",
          "@graphQl": "./src/graphql",
          "@components": "./src/components",
          "@layouts": "./src/components/layouts",
          "@atoms": "./src/components/atoms",
          "@molecules": "./src/components/molecules",
          "@organisms": "./src/components/organisms"
        }
      }
    ]
  ]
}